
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1 !important;
}
/* Partie De Navbar */
#nav-bar {
  color: #0046AD;
  font-size: 24px;
  font-weight: bold;
}


.nav-item-link {
  color: #0046AD !important;
  font-weight: 700;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-item-link:hover {
  color: #508FE3 !important;
  transform: translateY(-3px);
}


.nav-item-link i {
  width: 22px;
  height: 22px;
  color: #0046AD;
  transition: color 0.3s ease;
}

.nav-item-link:hover i {
  color: #508FE3;
}
body.dark-mode {
  background-color: #121212 !important;
  color: #ffffff;
}
body.dark-mode .contact-section p {
  color: white;
}
body.dark-mode .navbar {
  background-color: #1f1f1f !important;
}

body.dark-mode .nav-item-link {
  color: #d1e2ff !important;
}

body.dark-mode .nav-item-link:hover {
  color: #87b7ff !important;
}

body.dark-mode #nav-bar {
  color: #87b7ff;
}

body.dark-mode .nav-item-link i {
  color: #d1e2ff;
}
/* Partie De contenu */
.sec{
	margin: 30px;
}
.Title{
	font-weight: 600;
	color: #0c2750;
}
.lilTitle{
	font-weight: 600;
	color: #0c2750;
}
.content{
	margin-top: 35px;
	padding: 15px;
}
details{
      margin-top: 8px;
      margin-left: 16px;
      cursor: pointer;
}
summary{
	color: #1d4ed8;
	list-style: none;
	position: relative;
	padding-left: 20px;
}
summary::before{
	content: "›";
	position: absolute;
	left: 0;
	top: 0;
	transform: rotate(0deg);
	transition: transform 0.2s ease;
}
details[open] summary::before{
	transform: rotate(90deg);
}
  details a {
      margin-top: 5px;
      margin-left: 20px;
      color: #3a5e91;
      font-size: 0.95rem;
	  text-decoration: none;
    }
.content {
  margin-top: 35px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.reference {
  border: 2px solid transparent;
  padding: 8px 12px;
  font-size: 18px;
  background-color: #f3f0f0;
  border-radius: 8px;
  box-shadow: 10px 20px 30px rgba(0,0,0,0.1);
  transition: 0.3s;
}
.reference:hover {
  border-color:  #0046AD;
  transform: translateY(5px);
}
.exams {
  display: flex;
  flex-direction: column;
}
.button_docu {
  display: flex;
  justify-content: center;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 15px 15px;
  background-color: #e3ebf8;
  transition: 0.3s;
}
.butt_docu:hover {
  background-color: #508FE3;
  transform: translateY(-5px);
}